<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://microcurriculumapiluismartinez.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7bf55939-6153-4eff-abb5-14563ed3a7da/resourceGroups/grupopruebas/providers/Microsoft.Web/sites/microcurriculumapiLuisMartinez</ResourceId>
    <UserName>$microcurriculumapiLuisMartinez</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://microcurriculumapiluismartinez.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>